.product {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 170px;
}

.img {
    width: 100%;
    background: lightblue;
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
}

.description {
    font-size: 0.8em;
}

.addBtn {
    width: 100%;
}